@{
    ViewData["Title"] = "Home";
}
@{
    var quote = "Are we having fun yet writing code in";
    var quote1 = "C#, JavaScript, HTML, Bootstrap, and CSS?";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.
    </p>
    <div>
        <strong>
            @quote
        </strong>
    </div>
    <div>
        <strong>
            @quote1
        </strong>
    </div>
    <div class="flexbox-container">
        <div class="flexbox-item">
            <br />
            <section>
                <h5>The Rights Of Women To Work</h5>
                <p style="text-align:left;"> Women's right to work is an essential aspect of gender equality. It is crucial to ensure equal opportunities and access to professional opportunities for women. Empowering women in the workforce not only benefits individuals but also contributes to economic growth and societal development. Efforts should be made to eliminate gender-based discrimination and create inclusive work environments that promote diversity and equal opportunities for all.</p>
            </section>
        </div>
        <br />
        <div class="flexbox-item">
            <section>
                <h5>
                    The Rights Of Women To Vote
                </h5>
                <p style="text-align:left;">The rights of women to vote have been a significant milestone in the pursuit of gender equality. It is a fundamental democratic principle that all citizens, regardless of gender, should have the right to participate in the political process. Granting women the right to vote is a crucial step towards achieving true equality and ensuring a fair and representative society.</p>
            </section>
        </div>
        <div class="flexbox-item">
            <br />
            <section>
                <h5>
                    The Rights Of Women To Have Equal Pay
                </h5>
                <p style="text-align:left;">The rights of women to receive the same paycheck have been a crucial aspect in the ongoing fight for gender equality. It is essential that women are paid equally for their work, as this not only recognizes their value and contribution to the workforce but also promotes fairness and economic justice. Pay equity is an important issue that should be addressed to ensure that women are not discriminated against based on their gender and that they have the same opportunities for financial security and success as their male counterparts. Achieving equal pay for women is a vital step towards creating a more inclusive and equitable society.</p>
            </section>
        </div>
    </div>
</div>